# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite3
*.db

# Test and coverage reports
.coverage
htmlcov/
*.pytest_cache/
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
*.cache
*.pyc

# VS Code settings
.vscode/

# MacOS and system files
.DS_Store
Thumbs.db
